<?php
/**
 * SubaccountpricingApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Phone.com API
 *
 * This is a Phone.com api Swagger definition
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apisupport@phone.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * SubaccountpricingApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SubaccountpricingApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return SubaccountpricingApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createAccountSubaccountPricing
     *
     * Add a pricing plan to a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param \Swagger\Client\Model\CreatePricingParams $data Subaccount pricing data (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\PricingFull
     */
    public function createAccountSubaccountPricing($account_id, $subaccount_id, $data)
    {
        list($response) = $this->createAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $data);
        return $response;
    }

    /**
     * Operation createAccountSubaccountPricingWithHttpInfo
     *
     * Add a pricing plan to a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param \Swagger\Client\Model\CreatePricingParams $data Subaccount pricing data (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\PricingFull, HTTP status code, HTTP response headers (array of strings)
     */
    public function createAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $data)
    {
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling createAccountSubaccountPricing');
        }
        // verify the required parameter 'subaccount_id' is set
        if ($subaccount_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subaccount_id when calling createAccountSubaccountPricing');
        }
        // verify the required parameter 'data' is set
        if ($data === null) {
            throw new \InvalidArgumentException('Missing the required parameter $data when calling createAccountSubaccountPricing');
        }
        // parse inputs
        $resourcePath = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($account_id !== null) {
            $resourcePath = str_replace(
                "{" . "account_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($account_id),
                $resourcePath
            );
        }
        // path params
        if ($subaccount_id !== null) {
            $resourcePath = str_replace(
                "{" . "subaccount_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($subaccount_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($data)) {
            $_tempBody = $data;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PricingFull',
                '/accounts/{account_id}/subaccounts/{subaccount_id}/pricing'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PricingFull', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PricingFull', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteAccountSubaccountPricing
     *
     * Delete a pricing plan from a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param int $pricing_id Pricing Object ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\DeleteEntry
     */
    public function deleteAccountSubaccountPricing($account_id, $subaccount_id, $pricing_id)
    {
        list($response) = $this->deleteAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $pricing_id);
        return $response;
    }

    /**
     * Operation deleteAccountSubaccountPricingWithHttpInfo
     *
     * Delete a pricing plan from a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param int $pricing_id Pricing Object ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\DeleteEntry, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $pricing_id)
    {
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling deleteAccountSubaccountPricing');
        }
        // verify the required parameter 'subaccount_id' is set
        if ($subaccount_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subaccount_id when calling deleteAccountSubaccountPricing');
        }
        // verify the required parameter 'pricing_id' is set
        if ($pricing_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pricing_id when calling deleteAccountSubaccountPricing');
        }
        // parse inputs
        $resourcePath = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($account_id !== null) {
            $resourcePath = str_replace(
                "{" . "account_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($account_id),
                $resourcePath
            );
        }
        // path params
        if ($subaccount_id !== null) {
            $resourcePath = str_replace(
                "{" . "subaccount_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($subaccount_id),
                $resourcePath
            );
        }
        // path params
        if ($pricing_id !== null) {
            $resourcePath = str_replace(
                "{" . "pricing_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($pricing_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\DeleteEntry',
                '/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\DeleteEntry', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\DeleteEntry', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getAccountSubaccountPricing
     *
     * Get the details of a pricing plan for a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param int $pricing_id Pricing Object ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\PricingFull
     */
    public function getAccountSubaccountPricing($account_id, $subaccount_id, $pricing_id)
    {
        list($response) = $this->getAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $pricing_id);
        return $response;
    }

    /**
     * Operation getAccountSubaccountPricingWithHttpInfo
     *
     * Get the details of a pricing plan for a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param int $pricing_id Pricing Object ID (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\PricingFull, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $pricing_id)
    {
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling getAccountSubaccountPricing');
        }
        // verify the required parameter 'subaccount_id' is set
        if ($subaccount_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subaccount_id when calling getAccountSubaccountPricing');
        }
        // verify the required parameter 'pricing_id' is set
        if ($pricing_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pricing_id when calling getAccountSubaccountPricing');
        }
        // parse inputs
        $resourcePath = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($account_id !== null) {
            $resourcePath = str_replace(
                "{" . "account_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($account_id),
                $resourcePath
            );
        }
        // path params
        if ($subaccount_id !== null) {
            $resourcePath = str_replace(
                "{" . "subaccount_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($subaccount_id),
                $resourcePath
            );
        }
        // path params
        if ($pricing_id !== null) {
            $resourcePath = str_replace(
                "{" . "pricing_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($pricing_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\PricingFull',
                '/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\PricingFull', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\PricingFull', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation listAccountSubaccountPricing
     *
     * Get a list of pricing plans for a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param string[] $filters_id ID filter (optional)
     * @param string $sort_id ID sorting (optional)
     * @param int $limit Max results (optional)
     * @param int $offset Results to skip (optional)
     * @param string $fields Field set (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\ListPricings
     */
    public function listAccountSubaccountPricing($account_id, $subaccount_id, $filters_id = null, $sort_id = null, $limit = null, $offset = null, $fields = null)
    {
        list($response) = $this->listAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $filters_id, $sort_id, $limit, $offset, $fields);
        return $response;
    }

    /**
     * Operation listAccountSubaccountPricingWithHttpInfo
     *
     * Get a list of pricing plans for a subaccount.
     *
     * @param int $account_id Account ID (required)
     * @param int $subaccount_id Subaccount ID (required)
     * @param string[] $filters_id ID filter (optional)
     * @param string $sort_id ID sorting (optional)
     * @param int $limit Max results (optional)
     * @param int $offset Results to skip (optional)
     * @param string $fields Field set (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\ListPricings, HTTP status code, HTTP response headers (array of strings)
     */
    public function listAccountSubaccountPricingWithHttpInfo($account_id, $subaccount_id, $filters_id = null, $sort_id = null, $limit = null, $offset = null, $fields = null)
    {
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling listAccountSubaccountPricing');
        }
        // verify the required parameter 'subaccount_id' is set
        if ($subaccount_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subaccount_id when calling listAccountSubaccountPricing');
        }
        if (!is_null($sort_id) && !preg_match("/asc|desc/", $sort_id)) {
            throw new \InvalidArgumentException("invalid value for \"sort_id\" when calling SubaccountpricingApi.listAccountSubaccountPricing, must conform to the pattern /asc|desc/.");
        }

        // parse inputs
        $resourcePath = "/accounts/{account_id}/subaccounts/{subaccount_id}/pricing";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if (is_array($filters_id)) {
            $filters_id = $this->apiClient->getSerializer()->serializeCollection($filters_id, 'multi', true);
        }
        if ($filters_id !== null) {
            $queryParams['filters[id]'] = $this->apiClient->getSerializer()->toQueryValue($filters_id);
        }
        // query params
        if ($sort_id !== null) {
            $queryParams['sort[id]'] = $this->apiClient->getSerializer()->toQueryValue($sort_id);
        }
        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }
        // query params
        if ($fields !== null) {
            $queryParams['fields'] = $this->apiClient->getSerializer()->toQueryValue($fields);
        }
        // path params
        if ($account_id !== null) {
            $resourcePath = str_replace(
                "{" . "account_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($account_id),
                $resourcePath
            );
        }
        // path params
        if ($subaccount_id !== null) {
            $resourcePath = str_replace(
                "{" . "subaccount_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($subaccount_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ListPricings',
                '/accounts/{account_id}/subaccounts/{subaccount_id}/pricing'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ListPricings', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ListPricings', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
